<div class="follow-list">
  <div class="follow-title">
    フォロー 一覧
  </div>
  <div class="follower">
    <h5>フォロワー<%= user.followed.count %>人</h5>
  </div>
  <div class="follow">
    <h5>フォロー<%= user.following.count %>人</h5>
  </div>
  <% @followed_users.each do |followed| %>
    <div class="follow_name">
      <%= followed.nickname %>
    </div>
  <% end %>
</div>