* {
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 100px;
  padding: 1.5vh 7vw 0 7vw;
  background-color: rgb(28, 244, 240);
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 30px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 5px;
}

.logo a {
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1vh;
  height: 30px;
}

.lists-left {
  display: flex;
  min-width: 200px;
}

.list-name {
  text-decoration: none;
  padding: 3px;
  margin-right: 3vw;
  color: #333333;
  cursor: pointer;
  border-radius: 10px;
}

.lists-right {
  display: flex;
  list-style: none;
  font-size: 18px;
}

.lists-right li {
  align-self: flex-end;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}

.follow_btn {
  padding: 6px;
  border-radius: 20px;
  background-color: white;
}

.follow_btn:hover {
  color: red;
}

.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.header-list {
  align-self: flex-end;
}