a {
  text-decoration: none;
  color: black;
}

.main {
  background: #f8f8f8;
}
/* 商品一覧 */
.active-evett {
  padding: 10vh 20px;
  min-height: 70vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.not-active-evett {
  display: none;
  padding: 10vh 20px;
  min-height: 70vh;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.evett_content {
  display: flex;
  margin: 0 20px 30px 20px;
}

.evett_area {
  background: linear-gradient(red, orange, yellow);
  width: 310px;
  height: 310px;
  border-radius: 160px;
  padding: 15px;
}

.main_content {
  line-height: 50px;
  font-size: 20px;
  width: 280px;
  text-align: center;
}

.main_content h2 {
  color: white;
}

.content_menu {
  font-size: 16px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #3ccace;
  padding: 5px 0 0 5px;
}

.content_menu li {
  display: none;
}

.content_menu li a {
  color: #f8f8f8;
}

.content_menu:hover li {
  display: block;
  cursor: pointer;
  text-align: center;
  padding-right: 8px;
}

.evett_payment_btn {
  background-color: red;
  text-align: center;
  border-radius: 30px;
  margin-top: 30px;
  color: #FFF;
  width: 110px;
}

.evett_payment_btn a {
  height: 100%;
}

.evett-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.evett-name {
  font-size: 2.5vh;
}

.evett_price_back {
  border-radius: 20px;
  width: 280px;
  position: relative;
}

.evett_price_bar {
  background-color: rgb(76, 215, 249);
  border-radius: 20px;
  height: 100%;
  position: absolute;
  top: 0px;
  overflow: hidden;
}

.evett_price {
  z-index: 1;position:relative;
}

.payment_area {
  display: flex;
  justify-content: end;
}

.payment_percentage {
  font-size: 16px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #3ccace;
  padding: 5px 0 0 5px;
  margin-left: 25px;
  margin-top: 15px;
}

#max_percentage {
  background-color: #e50f7a;
}

/* //商品一覧 */
.purchase-btn {
  width: 120px;
  background: #3ccace;
  text-align: center;
  border-radius: 50%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  z-index: 1;
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}