.user-evett-area {
  padding: 20px;
  min-height: 70vh;
  width: 100%;
  display: flex;
}

#user-evett-list {
  display: block;
}

.evett-list {
  padding: 20px 40px;
  min-width: 1090px;
  display: flex;
}

.evett_show_content {
  display: flex;
  margin: 0 10px 30px 10px;
}

.user-evett {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
}

.user-evett p {
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  background-color: aqua;
  border-radius: 20px;
  padding: 10px;
}

.user-pay-evett {
  display: flex;
  flex-wrap: wrap;
}

.user-pay-evett p {
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  background-color: aqua;
  border-radius: 20px;
  padding: 10px;
}

.user_area{
  background: linear-gradient(red, orange, yellow);
  width: 70vw;
  height: 80vh;
  border-radius: 200px;
  padding: 20px 100px;
  margin-top: 20px;
  margin-left: 14%;
  display: none;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.Card_area {
  height: 60vh;
  width: 300px;
  margin: 20px 30px;
}

.Card__title {
  font-size: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
}

.Card_info {
  line-height: 40px;
  min-height: 300px;
}

.new-card-link {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid white;
  line-height: 20px;
}


.follow-list {
  margin: 20px 30px;
  color: white;
  width: 300px;
  height: 60vh;
}

.follow-title {
  border-bottom: 1px solid white;
  font-size: 30px;
  margin-bottom: 20px;
}

.follow {
  margin-top: 20px;
  line-height: 40px;
  font-size: 18px;
  border-top: 1px solid white;
}
.follow h5 {
  margin-right: 20px;
}

.follow_name {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.follow_name a {
  color: white;
  padding: 6px;
}

.follow_name_btn:hover {
  color: red;
  background-color: white;
  border-radius: 20px;
}

.follow-area {
  min-height: 300px;
}